
.calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendario i {
    font-size: clamp(8px, 1.5vw, 20px);
}

.descricao {
    font-size: 14px;
    font-weight: 300;
}

body {
    color: white;
    background-color: #1a222d;
    padding-top: 70px;
}

#navbaba {
    background-color: #1F2937;
}

.card {
    color: white;
    background-color: #1F2937;
}

.elemento {
    color: #D4A72C;
}

.elemento2 {
    background-color: #D4A72C;
}

.diario {
    color: white;
    font-size: 0.9rem;
    background-color: #1F2937;
    border-color: #1a222d;
    
}

.rodape {
    background-color: #1F2937;
}

.categoria {
    border-radius: 10%;
    padding: 1%;
    font-size: 70%;
}

.botao {
    font-size: 0.9rem;
}

.cardd {
    transition: 0.2s;
}

.cardd:hover {
    transform: translateY(-3px);
    background-color: #36371f;
}

.inter {
    transition: 0.2s;
}

.inter:hover {
    transform: translateY(-3px);
    color: #D4A72C;
}

.aa {
    color: white;
}

.offcanvas.offcanvas-start {
    transition: transform 0.3s ease-in-out !important;
  }

.offcanvas-backdrop.fade {
    transition: opacity 0.3s linear !important;
}

#meuMenu {
    background-color: #1a222d;
}

.ll {
    background-color: #1a222d;
    color: #adb5bd;
}