
.calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendario i {
    font-size: clamp(8px, 1.5vw, 20px);
}

.descricao {
    font-size: 14px;
    font-weight: 300;
}

body {
    color: white;
    background-color: #1a222d;
    padding-top: 70px;
}

#navbaba {
    background-color: #1F2937;
}

.card {
    color: white;
    background-color: #1F2937;
}

.elemento {
    color: #D4A72C;
}

.elemento2 {
    background-color: #D4A72C;
}

.diario {
    color: white;
    font-size: clamp(1px, 2vw, 20px);
    background-color: #1F2937;
    border-color: #1a222d;
}

.rodape {
    background-color: #1F2937;
}

.categoria {
    border-radius: 10%;
    background-color: rgb(255, 0, 0);
    padding: 1%;
    font-size: 70%;
}

.botao {
    font-size: clamp(1px, 2vw, 20px);
}